# Configurações do Notion
NOTION_TOKEN=seu_token_aqui
NOTION_DATABASE_ID=id_do_database

# Configurações de Webhook
NOTION_WEBHOOK_SECRET=webhook_secret_seguro_aqui
REVALIDATE_SECRET=revalidate_secret_seguro_aqui
NEXT_PUBLIC_SITE_URL=https://juliano340.com

# Configurações do Cron (para atualização automática do sitemap)
CRON_SECRET=cron_secret_seguro_aqui

# Outras configurações
EMAIL_USER=seu_email@gmail.com
EMAIL_PASS=sua_senha_de_app
